USE [master]
GO
/****** Object:  Database [QLDTNV_TTCN]    Script Date: 01/02/2026 4:01:04 CH ******/
CREATE DATABASE [QLDTNV_TTCN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLDTNV_TTCN', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.XUANTRANG\MSSQL\DATA\QLDTNV_TTCN.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLDTNV_TTCN_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.XUANTRANG\MSSQL\DATA\QLDTNV_TTCN_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLDTNV_TTCN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLDTNV_TTCN]
GO
/****** Object:  Table [dbo].[Dang_Ky_Khoa_Dao_Tao]    Script Date: 01/02/2026 4:01:04 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dang_Ky_Khoa_Dao_Tao](
	[ma_dang_ky] [int] IDENTITY(1,1) NOT NULL,
	[ma_nhan_vien] [int] NOT NULL,
	[ma_khoa_dao_tao] [int] NOT NULL,
	[trang_thai] [nvarchar](50) NOT NULL,
	[diem] [float] NULL,
	[nhan_xet] [nvarchar](500) NULL,
	[ngay_dang_ky] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_dang_ky] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Danh_Gia]    Script Date: 01/02/2026 4:01:04 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Danh_Gia](
	[ma_danh_gia] [int] IDENTITY(1,1) NOT NULL,
	[ma_nhan_vien] [int] NULL,
	[ma_khoa_dao_tao] [int] NULL,
	[diem_so] [float] NULL,
	[nhan_xet] [nvarchar](max) NULL,
	[ngay_danh_gia] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_danh_gia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Khoa_Dao_Tao]    Script Date: 01/02/2026 4:01:04 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Khoa_Dao_Tao](
	[ma_khoa_dao_tao] [int] IDENTITY(1,1) NOT NULL,
	[ten_khoa_dao_tao] [nvarchar](200) NOT NULL,
	[mo_ta] [nvarchar](max) NULL,
	[ngay_bat_dau] [date] NULL,
	[ngay_ket_thuc] [date] NULL,
	[si_so_toi_da] [int] NULL,
	[ma_giang_vien] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_khoa_dao_tao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nhan_Vien]    Script Date: 01/02/2026 4:01:04 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nhan_Vien](
	[ma_nhan_vien] [int] IDENTITY(1,1) NOT NULL,
	[ho_ten] [nvarchar](100) NOT NULL,
	[ngay_sinh] [date] NULL,
	[gioi_tinh] [nvarchar](10) NULL,
	[email] [nvarchar](100) NULL,
	[so_dien_thoai] [nvarchar](20) NULL,
	[ma_phong] [int] NULL,
	[chuc_vu] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_nhan_vien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phan_Cong_Dao_Tao]    Script Date: 01/02/2026 4:01:04 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phan_Cong_Dao_Tao](
	[ma_phan_cong] [int] IDENTITY(1,1) NOT NULL,
	[ma_nhan_vien] [int] NULL,
	[ma_khoa_dao_tao] [int] NULL,
	[trang_thai] [nvarchar](50) NULL,
	[vai_tro] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_phan_cong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phong_Ban]    Script Date: 01/02/2026 4:01:04 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phong_Ban](
	[ma_phong] [int] IDENTITY(1,1) NOT NULL,
	[ten_phong] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_phong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tai_Khoan]    Script Date: 01/02/2026 4:01:04 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tai_Khoan](
	[ten_dang_nhap] [nvarchar](50) NOT NULL,
	[mat_khau] [nvarchar](100) NOT NULL,
	[vai_tro] [nvarchar](50) NULL,
	[ma_nhan_vien] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ten_dang_nhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Dang_Ky_Khoa_Dao_Tao] ON 

INSERT [dbo].[Dang_Ky_Khoa_Dao_Tao] ([ma_dang_ky], [ma_nhan_vien], [ma_khoa_dao_tao], [trang_thai], [diem], [nhan_xet], [ngay_dang_ky]) VALUES (1, 1, 1, N'hoan_thanh', 8.5, N'Hoàn thành tốt', CAST(N'2026-01-31' AS Date))
INSERT [dbo].[Dang_Ky_Khoa_Dao_Tao] ([ma_dang_ky], [ma_nhan_vien], [ma_khoa_dao_tao], [trang_thai], [diem], [nhan_xet], [ngay_dang_ky]) VALUES (2, 1, 2, N'hoan_thanh', 7.8, N'Đạt yêu cầu', CAST(N'2026-01-31' AS Date))
INSERT [dbo].[Dang_Ky_Khoa_Dao_Tao] ([ma_dang_ky], [ma_nhan_vien], [ma_khoa_dao_tao], [trang_thai], [diem], [nhan_xet], [ngay_dang_ky]) VALUES (3, 1, 3, N'dang_hoc', NULL, NULL, CAST(N'2026-01-31' AS Date))
SET IDENTITY_INSERT [dbo].[Dang_Ky_Khoa_Dao_Tao] OFF
GO
SET IDENTITY_INSERT [dbo].[Danh_Gia] ON 

INSERT [dbo].[Danh_Gia] ([ma_danh_gia], [ma_nhan_vien], [ma_khoa_dao_tao], [diem_so], [nhan_xet], [ngay_danh_gia]) VALUES (1, 1, 1, 8.5, N'Hoàn thành tốt khóa An toàn thông tin', CAST(N'2025-01-31' AS Date))
INSERT [dbo].[Danh_Gia] ([ma_danh_gia], [ma_nhan_vien], [ma_khoa_dao_tao], [diem_so], [nhan_xet], [ngay_danh_gia]) VALUES (2, 1, 2, 7.8, N'Tham gia đầy đủ, kỹ năng cải thiện rõ', CAST(N'2025-02-16' AS Date))
INSERT [dbo].[Danh_Gia] ([ma_danh_gia], [ma_nhan_vien], [ma_khoa_dao_tao], [diem_so], [nhan_xet], [ngay_danh_gia]) VALUES (3, 6, 4, 8, N'Hoàn thành khóa học đúng tiến độ', CAST(N'2026-03-09' AS Date))
SET IDENTITY_INSERT [dbo].[Danh_Gia] OFF
GO
SET IDENTITY_INSERT [dbo].[Khoa_Dao_Tao] ON 

INSERT [dbo].[Khoa_Dao_Tao] ([ma_khoa_dao_tao], [ten_khoa_dao_tao], [mo_ta], [ngay_bat_dau], [ngay_ket_thuc], [si_so_toi_da], [ma_giang_vien]) VALUES (1, N'An toàn thông tin', N'Đào tạo bảo mật hệ thống', CAST(N'2025-01-01' AS Date), CAST(N'2025-01-30' AS Date), NULL, NULL)
INSERT [dbo].[Khoa_Dao_Tao] ([ma_khoa_dao_tao], [ten_khoa_dao_tao], [mo_ta], [ngay_bat_dau], [ngay_ket_thuc], [si_so_toi_da], [ma_giang_vien]) VALUES (2, N'Kỹ năng làm việc nhóm', N'Phát triển kỹ năng mềm', CAST(N'2025-02-01' AS Date), CAST(N'2025-02-15' AS Date), NULL, NULL)
INSERT [dbo].[Khoa_Dao_Tao] ([ma_khoa_dao_tao], [ten_khoa_dao_tao], [mo_ta], [ngay_bat_dau], [ngay_ket_thuc], [si_so_toi_da], [ma_giang_vien]) VALUES (3, N'Kỹ năng làm việc nhóm ', N'kĩ năng làm việc nhóm (1)', CAST(N'2026-02-01' AS Date), CAST(N'2026-03-07' AS Date), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Khoa_Dao_Tao] OFF
GO
SET IDENTITY_INSERT [dbo].[Nhan_Vien] ON 

INSERT [dbo].[Nhan_Vien] ([ma_nhan_vien], [ho_ten], [ngay_sinh], [gioi_tinh], [email], [so_dien_thoai], [ma_phong], [chuc_vu]) VALUES (1, N'Nguyễn Văn A', CAST(N'2000-01-01' AS Date), N'Nam', N'a@gmail.com', N'0901111113', 1, N'Nhân Viên')
INSERT [dbo].[Nhan_Vien] ([ma_nhan_vien], [ho_ten], [ngay_sinh], [gioi_tinh], [email], [so_dien_thoai], [ma_phong], [chuc_vu]) VALUES (2, N'Trần Thị B', CAST(N'2001-02-02' AS Date), N'Nữ', N'b@gmail.com', N'0902222222', 2, N'Nhân Viên')
INSERT [dbo].[Nhan_Vien] ([ma_nhan_vien], [ho_ten], [ngay_sinh], [gioi_tinh], [email], [so_dien_thoai], [ma_phong], [chuc_vu]) VALUES (3, N'hoang xuan trang', CAST(N'2004-07-05' AS Date), N'Nữ', N'trang123@gmail.com', N'0220386541', 1, N'Quản Lí')
SET IDENTITY_INSERT [dbo].[Nhan_Vien] OFF
GO
SET IDENTITY_INSERT [dbo].[Phan_Cong_Dao_Tao] ON 

INSERT [dbo].[Phan_Cong_Dao_Tao] ([ma_phan_cong], [ma_nhan_vien], [ma_khoa_dao_tao], [trang_thai], [vai_tro]) VALUES (1, 1, 1, N'Đang học', NULL)
INSERT [dbo].[Phan_Cong_Dao_Tao] ([ma_phan_cong], [ma_nhan_vien], [ma_khoa_dao_tao], [trang_thai], [vai_tro]) VALUES (2, 1, 2, N'Chưa học', NULL)
INSERT [dbo].[Phan_Cong_Dao_Tao] ([ma_phan_cong], [ma_nhan_vien], [ma_khoa_dao_tao], [trang_thai], [vai_tro]) VALUES (4, 6, 8, N'Chưa học', NULL)
SET IDENTITY_INSERT [dbo].[Phan_Cong_Dao_Tao] OFF
GO
SET IDENTITY_INSERT [dbo].[Phong_Ban] ON 

INSERT [dbo].[Phong_Ban] ([ma_phong], [ten_phong]) VALUES (1, N'Phòng Công nghệ thông tin')
INSERT [dbo].[Phong_Ban] ([ma_phong], [ten_phong]) VALUES (2, N'Phòng Nhân sự')
INSERT [dbo].[Phong_Ban] ([ma_phong], [ten_phong]) VALUES (3, N'Phòng Kế toán')
SET IDENTITY_INSERT [dbo].[Phong_Ban] OFF
GO
INSERT [dbo].[Tai_Khoan] ([ten_dang_nhap], [mat_khau], [vai_tro], [ma_nhan_vien]) VALUES (N'admin', N'123', N'admin', NULL)
INSERT [dbo].[Tai_Khoan] ([ten_dang_nhap], [mat_khau], [vai_tro], [ma_nhan_vien]) VALUES (N'duymanh', N'123', N'nguoi_danh_gia', 11)
INSERT [dbo].[Tai_Khoan] ([ten_dang_nhap], [mat_khau], [vai_tro], [ma_nhan_vien]) VALUES (N'nva', N'123', N'nhan_vien', 1)
GO
ALTER TABLE [dbo].[Dang_Ky_Khoa_Dao_Tao] ADD  DEFAULT (getdate()) FOR [ngay_dang_ky]
GO
ALTER TABLE [dbo].[Danh_Gia] ADD  DEFAULT (getdate()) FOR [ngay_danh_gia]
GO
ALTER TABLE [dbo].[Dang_Ky_Khoa_Dao_Tao]  WITH CHECK ADD  CONSTRAINT [FK_DK_KDT] FOREIGN KEY([ma_khoa_dao_tao])
REFERENCES [dbo].[Khoa_Dao_Tao] ([ma_khoa_dao_tao])
GO
ALTER TABLE [dbo].[Dang_Ky_Khoa_Dao_Tao] CHECK CONSTRAINT [FK_DK_KDT]
GO
ALTER TABLE [dbo].[Dang_Ky_Khoa_Dao_Tao]  WITH CHECK ADD  CONSTRAINT [FK_DK_NV] FOREIGN KEY([ma_nhan_vien])
REFERENCES [dbo].[Nhan_Vien] ([ma_nhan_vien])
GO
ALTER TABLE [dbo].[Dang_Ky_Khoa_Dao_Tao] CHECK CONSTRAINT [FK_DK_NV]
GO
ALTER TABLE [dbo].[Danh_Gia]  WITH CHECK ADD FOREIGN KEY([ma_khoa_dao_tao])
REFERENCES [dbo].[Khoa_Dao_Tao] ([ma_khoa_dao_tao])
GO
ALTER TABLE [dbo].[Danh_Gia]  WITH CHECK ADD FOREIGN KEY([ma_nhan_vien])
REFERENCES [dbo].[Nhan_Vien] ([ma_nhan_vien])
GO
ALTER TABLE [dbo].[Khoa_Dao_Tao]  WITH CHECK ADD  CONSTRAINT [FK_Khoa_GiangVien] FOREIGN KEY([ma_giang_vien])
REFERENCES [dbo].[Nhan_Vien] ([ma_nhan_vien])
GO
ALTER TABLE [dbo].[Khoa_Dao_Tao] CHECK CONSTRAINT [FK_Khoa_GiangVien]
GO
ALTER TABLE [dbo].[Nhan_Vien]  WITH CHECK ADD FOREIGN KEY([ma_phong])
REFERENCES [dbo].[Phong_Ban] ([ma_phong])
GO
ALTER TABLE [dbo].[Phan_Cong_Dao_Tao]  WITH CHECK ADD FOREIGN KEY([ma_khoa_dao_tao])
REFERENCES [dbo].[Khoa_Dao_Tao] ([ma_khoa_dao_tao])
GO
ALTER TABLE [dbo].[Phan_Cong_Dao_Tao]  WITH CHECK ADD FOREIGN KEY([ma_nhan_vien])
REFERENCES [dbo].[Nhan_Vien] ([ma_nhan_vien])
GO
ALTER TABLE [dbo].[Tai_Khoan]  WITH CHECK ADD FOREIGN KEY([ma_nhan_vien])
REFERENCES [dbo].[Nhan_Vien] ([ma_nhan_vien])
GO
ALTER TABLE [dbo].[Tai_Khoan]  WITH CHECK ADD CHECK  (([vai_tro]=N'nguoi_danh_gia' OR [vai_tro]=N'nhan_vien' OR [vai_tro]=N'admin'))
GO
USE [master]
GO
